.home__container {
    box-sizing: border-box;
    color: #335c67;
    padding: 0rem;
    margin: 1rem;
    display: flex;
}

.info__container{
    color: #335c67;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}
